.navbar {
    background-color: #343a40;
}

body {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
}

h1 {
    color: #343a40;
    text-align: center;
}

h2 {
    color: #343a40;
}

p {
    color: #343a40;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}
