body {
    font-family: sans-serif;
    background-color: pink
  }
  
  nav {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ff0000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 50px;
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  p {
    line-height: 1.5;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 900px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 700px;
    }
  }
  